#parse("/velocity/layout.vm")
#@mainLayout()
    <div class="container" id="index">
        <div class="row">
            <div class="col c4">
                <h3>List machines</h3>
                A list of machines.
                <br/>
                <a class="btn btn-sm btn-a" href="#listdo">List</a>
            </div>
            <div class="col c4">
                <h3>Start machines</h3>
                A list of machines to start.
                <br/>
                <a class="btn btn-sm btn-a" href="#startdo">Start</a>
            </div>
            <div class="col c4">
                <h3>Stop machines</h3>
                A list of machines to stop.
                <br/>
                <a class="btn btn-sm btn-a" href="#stopdo">Stop</a>
            </div>
        </div>
    </div>
#end
